<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Samsung Global Dashboard</title>
    <link rel="stylesheet" type="text/css" href="css/reset.css">
    <link rel="stylesheet" type="text/css" href="css/layout.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <script src="js/jquery.js"></script>
    <script src="js/util.js"></script>
</head>
<body>
<div class="body_wrap">
    <div class="index_wrap">
        <div class="index_tit">
            <img src="./img/new_logo.jpg" alt="Samsung Global Dashboard">
        </div>
        <ul class="index_menu_wrap">
            <li class="index_menu">
                <a href="/globaldashboard/executiveSummary">
                    <div class="icon_wrap"><div class="icon_area img01"></div></div>
                    <div class="index_txt">Executive<br>Summary</div>
                </a>
            </li>
            <li class="index_menu">
                <a href="/globaldashboard/divisionSummary">
                    <div class="icon_wrap"><div class="icon_area img12"></div></div>
                    <div class="index_txt">Division<br>Summary</div>
                </a>
            </li>
            <li class="index_menu">
                <a href="/globaldashboard/sales_all2">
                    <div class="icon_wrap"><div class="icon_area img02"></div></div>
                    <div class="index_txt">Sales<br>Summary</div>
                </a>
            </li>
            <li class="index_menu">
                <a href="/globaldashboard/operation_all2">
                    <div class="icon_wrap"><div class="icon_area img03"></div></div>
                    <div class="index_txt">Operation<br>Summary</div>
                </a>
            </li>
            <li class="index_menu">
                <a href="/globaldashboard/shopapp_operation">
                    <div class="icon_wrap"><div class="icon_area img15"></div></div>
                    <div class="index_txt">ShopApp<br>Summary</div>
                </a>
            </li>
            <li class="index_menu">
                <a href="/globaldashboard/botjourney_operation">
                    <div class="icon_wrap"><div class="icon_area img16"></div></div>
                    <div class="index_txt">Bot / AI <br>Summary</div>
                </a>
            </li>
            <li class="index_menu">
                <a href="/globaldashboard/epp_operation">
                    <div class="icon_wrap"><div class="icon_area img11"></div></div>
                    <div class="index_txt">EPP / SMB<br>Summary</div>
                </a>
            </li>
            <li class="index_menu">
                <a href="/globaldashboard/retailer_operation">
                    <div class="icon_wrap"><div class="icon_area img10"></div></div>
                    <div class="index_txt">Retailer<br>Summary</div>
                </a>
            </li>
            <li class="index_menu">
                <a href="/globaldashboard/mxFlagshipSummary_pre">
                    <div class="icon_wrap"><div class="icon_area h75 img14"></div></div>
                    <div class="index_txt">MX Flagship<br>Summary</div>
                </a>
            </li>
            <li class="index_menu">
                <a href="/globaldashboard/performanceSummary">
                    <div class="icon_wrap"><div class="icon_area img13"></div></div>
                    <div class="index_txt">Performance<br>Summary</div>
                </a>
            </li>
        </ul>
    </div>
</div>
</body>
</html>
